/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {

    background-color: #9acfd3;


}

/* structure */

.container {
	width: 1400px;
	height: 640px;
	padding: 20px 30px;
	margin: auto;
	font-weight: 300;
	background-color: #9acfd3;
	overflow: hidden;

}

.name {
	top: 20px;
	left: 20px;
	color: white;
	margin: auto;
	font-size: 15px;
	font-family: helvetica, sans-serif;

}

.circle {
	width: 120px;
	height: 120px;
	background: white;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	
}

.circlesmall {
	width: 70px;
	height: 70px;
	background: white;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	
}

.one {
	top: 50px;
	left: 450px;
	position: fixed;
}

.two {
	top: 50px;
	left: 650px;
	position: fixed;
}

.three {
	top: 50px;
	left: 850px;
	position: fixed;
}

.four {
	top: 230px;
	left: 650px;
	position: fixed;
}

.five {
	top: 410px;
	left: 650px;
	position: fixed;
}

.six {
	top: 70px;
	left: 235px;
	position: fixed;
}

.seven {
	top: 260px;
	left: 300px;
	position: fixed;
}

.eight {
	top: 450px;
	left: 375px;
	position: fixed;
}

.nine {
	top: 620px;
	left: 450px;
	position: fixed;
}

.ten {
	top: 530px;
	left: 560px;
	position: fixed;
}

.eleven {
	top: 530px;
	left: 790px;
	position: fixed;
}

.twelve {
	top: 620px;
	left: 910px;
	position: fixed;
}

.thirteen {
	top: 450px;
	left: 980px;
	position: fixed;
}

.fourteen {
	top: 260px;
	left: 1045px;
	position: fixed;
}

.fifteen {
	top: 70px;
	left: 1118px;
	position: fixed;
}



















