/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {

    background-color: #9acfd3;


}

/* structure */

.container {
	width: 1380px;
	height: 640px;
	padding: 20px 30px;
	margin: auto;
	font-weight: 300;
	background-color: #9acfd3;
	overflow-y: hidden;

}

.name {
	top: 20px;
	left: 20px;
	color: white;
	margin: auto;
	font-size: 15px;
	font-family: helvetica, sans-serif;

}

.circle {
	width: 120px;
	height: 120px;
	background: white;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	margin: auto;
	
}

.circlesmall {
	width: 75px;
	height: 75px;
	background: white;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: auto;
	
}

.circlesmall11 {
	width: 75px;
	height: 75px;
	background: #f4da39;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: auto;
	
}

.circlesmall13 {
	width: 75px;
	height: 75px;
	background: hotpink;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: auto;
	
}

.circlesmall6 {
	width: 75px;
	height: 75px;
	background: green;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: auto;
	
}

.circlesmall14 {
	width: 75px;
	height: 75px;
	background: #1956b7;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: auto;
	
}

.circlesmall15 {
	width: 75px;
	height: 75px;
	background: hotpink;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: auto;
	
}

.gifportraits {
	top: -40px;
	left: 390px;
	width:200px;
	z-index: 17;
	transform: scale(.45);
	position: fixed;
	margin: auto;

}

.one {
	top: 50px;
	left: 450px;
	position: fixed;
	z-index: 0;
	margin: auto;
	
}

.gifgoat {
	top: -40px;
	left: 590px;
	width:200px;
	z-index: 17;
	transform: scale(.45);
	position: fixed;
	margin: auto;

}

.two {
	top: 50px;
	left: 650px;
	position: fixed;
	margin: auto;
}

.gifvoices{
	top: -40px;
	left: 788px;
	width:200px;
	z-index: 17;
	transform: scale(.44);
	position: fixed;
	margin: auto;

}

.three {
	top: 50px;
	left: 850px;
	position: fixed;
	margin: auto;
}

.gifstories {
	top: 140px;
	left: 586px;
	width:200px;
	z-index: 17;
	transform: scale(.44);
	position: fixed;
	margin: auto;

}

.four {
	top: 230px;
	left: 650px;
	position: fixed;
	margin: auto;
}

.giflove {
	top: 320px;
	left: 586px;
	width:200px;
	z-index: 17;
	transform: scale(.44);
	position: fixed;
	margin: auto;

}

.five {
	top: 410px;
	left: 650px;
	position: fixed;
	margin: auto;
}

.gifabout {
	top: -42px;
	left: 160px;
	width:200px;
	z-index: 17;
	transform: scale(.25);
	position: fixed;
	margin: auto;

}

.six {
	top: 70px;
	left: 235px;
	position: fixed;
	margin: auto;
	color: blue;
}

.gifmonogram {
	top: 149px;
	left: 223px;
	width:200px;
	z-index: 17;
	transform: scale(.27);
	position: fixed;
	margin: auto;

}

.seven {
	top: 260px;
	left: 300px;
	position: fixed;
	margin: auto;
}

.gifpunct {
	top: 338px;
	left: 300px;
	width:200px;
	z-index: 17;
	transform: scale(.27);
	position: fixed;
	margin: auto;

}

.gifresume {
	top: 338px;
	left: 300px;
	width:200px;
	z-index: 17;
	transform: scale(.25);
	position: fixed;
	margin: auto;

}

.eight {
	top: 450px;
	left: 375px;
	position: fixed;
	margin: auto;
}


.gifspring {
	top: 510px;
	left: 372px;
	width:200px;
	z-index: 17;
	transform: scale(.28);
	position: fixed;
	margin: auto;

}

.nine {
	top: 620px;
	left: 450px;
	position: fixed;
	margin: auto;
}

.gifpunct {
	top: 417px;
	left: 482px;
	width:200px;
	z-index: 17;
	transform: scale(.27);
	position: fixed;
	margin: auto;
}


.ten {
	top: 530px;
	left: 560px;
	position: fixed;
	margin: auto;
}


.eleven {
	top: 530px;
	left: 790px;
	position: fixed;
	margin: auto;
}

.twelve {
	top: 620px;
	left: 910px;
	position: fixed;
	margin: auto;
}

.gifrise {
	top: 340px;
	left: 900px;
	width:200px;
	z-index: 17;
	transform: scale(.27);
	position: fixed;
	margin: auto;
}

.thirteen {
	top: 450px;
	left: 975px;
	position: fixed;
	margin: auto;
}

.gifthings {
	top: 148px;
	left: 975px;
	width:200px;
	z-index: 17;
	transform: scale(.27);
	position: fixed;
	margin: auto;
}

.fourteen {
	top: 260px;
	left: 1050px;
	position: fixed;
	margin: auto;
}

.giftrademark {
	top: 26px;
	left: 1066px;
	width:200px;
	z-index: 17;
	transform: scale(.51);
	position: fixed;
	margin: auto;
}

.fifteen {
	top: 70px;
	left: 1118px;
	position: fixed;
	margin: auto;
	z-index: 0;
}




/*.gifbig {
	top: 50px;
	left: 450px;
	position: fixed;
	transform: scale(.5);

}*/














